* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-image: linear-gradient(to right, #98a898, #7b9f7b, #5e965d, #3e8c3f, #06811b);
}



.buttons {

    height: 120px;

}

h1{
    text-align: center;
}


.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: rgb(2, 107, 16);
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}


.color-link {
    text-decoration: none;
    color: white;
    

}

.color-text {
    text-decoration: none;
    color: green
}


.color-decoration{
    text-decoration: none;
    color: black;
}


.row{
    display: flex;
    justify-content:space-evenly;
    flex-wrap:wrap;

}


.form-check {
    font-size: 20px;
    margin: 20px;
}

footer{
    font-size: 25px;
    margin-left: 5%;
}



.card-body a {

    text-decoration: none;
    color: black;
    font-weight: 500;

}


.navbar-nav{
    font-weight: 1000;
    margin-left: 35%;
}





.navbar-nav A:hover {
  
    background: lightskyblue;
 }

.msg{
    margin: auto;
    
}

h1{
    text-align: center;
}


